<%- include("navbar.ejs")%>

<form action="/do_login" method="post">
    <div class="container-fluid mt-3 form-control-plaintext">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center bg-white shadow p-5">
                <div class="form-group mb-4">
                    <h3>Login Now</h3>
                </div>
                <div class="form-group text-start mb-2">
                    
                    Enter Mobile No. :
                    <input type="number" name="c_mobile"  class="form-control">
                </div>
                <div class="form-group text-start mb-3">
                    
                    Enter Password :
                    <input type="password" name="c_password" autocomplete="off" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary p-2">Login</button>
                </div>
                <div class="form-group mt-2 mb-5">
                   <h6 class="pt-2"> New User <a href="/signup">Create Account</a></h6>
                    <h6 class="pt-2"><a href="/admin_login">Admin Login</a></h6>

                    <br>
                </div>
                
            </div>
        </div>
    </div>
</form>
<%- include("footer.ejs")%>